body{
	background-image: url('img/1987.jpg');
	color: #000000;
	font-family: Caveat
	font-size: 20px;
}
.container{
	
	width: 900px;
	height: 1100px;
	margin: 30px auto;
}
.header{

	
	width: 900px ;
	height: 300px;
}
.novigation{
	background: #2b2b2b;
	
	width:900px;
	height: 35px;
	margin: 0px 0px 10px 0px ;
}
.content{
	background-image: url(img/der-Photoroom.png);
	width: 900px;
	height: 700px;
}
.text{
	padding-left: 250px;
}

	

}
.continue{
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:black;
	padding-left: 40px;
	padding-right: 20px;
	color:#CC0605;
}
.Cooper img{
	margin-left: 510px;
	top: 530px;
	position: absolute;
}
.album{
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:black;
	text-decoration: none;
	color:#CC0605 ;
}

.Footer{
	background:#B8860B;
	width:900px;
	height:35px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
}
td{
	font-size: 20px;
	text-align: center;
	width: 225px;

}
p{
	text-align: justify;
	margin: 10px 10px 10px 10px;
}
.nav-item{
	text-decoration: none;
	padding: 1px 15px;
	margin-right: 10px;
	border: 2px solid #DAA520;
	border-radius: 5px;
	transition: background-color 0.3 ease;
	color: #FFFFFF;
}
.nav-item:hover{
	background-color:#B8860B;
}
.nav-item.active{
	background-color: #000000;
}